@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik";
    text-align: center;
}

#eanTitle {
    font-size: 2em;
}

#btn {
    width: 10em;
}

img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}